{%extends 'main/base.html'%}

{%block title%}
    Моя страница
{%endblock%}

{%block content%}
    <h1>Моя страница</h1>
    <p>Моя страница</p>
    <div class="bd-example-snippet bd-code-snippet">
        <div class="bd-example">
        <p class="display-1">Моя страница</p>
        <p class="display-2">Моя страница</p>
        <p class="display-3">Моя страница</p>
        <p class="display-4">Моя страница</p>
        <p class="display-5">Моя страница</p>
        <p class="display-6">Моя страница</p>
        </div>
    </div>
{%endblock%}